<div class="nuevo-superheroe-form d-flex flex-row justify-content-center">
    <form action="http://localhost:3000/propertyApi/" method="post" class="text-center">
    <div class="d-flex flex-row">
        <div class="mx-3">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" value="" placeholder="Título del inmueble" required>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <input type="number" class="form-control" id="price" name="price" value="" placeholder="Precio del inmueble" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea type="text" class="form-control" id="description" name="description" value="" placeholder="Descripción del inmueble..."></textarea>
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <input type="text" class="form-control" id="address" name="address" value="" placeholder="Dirección del inmueble" required>
            </div>
            <fieldset>
                <div>
                    <label for="leaseType">Renta</label>
                    <input type="radio" id="leaseType" name="leaseType" value="Renta" checked>
                </div>
                <div>
                    <label for="leaseType">Venta</label>
                    <input type="radio" id="leaseType" name="leaseType" value="Venta" checked>
                </div>
            </fieldset>
        </div>
        <div class="mx-3">
            <div class="form-group">
                <label for="roomQuantity"># Habitaciones</label>
                <input type="number" class="form-control" id="roomQuantity" name="roomQuantity" value="" placeholder="# Habitaciones">
            </div>
            <div class="form-group">
                <label for="bathroomQuantity"># Baños</label>
                <input type="number" class="form-control" id="bathroomQuantity" name="bathroomQuantity" value="" placeholder="# Baños">
            </div>
            <div class="form-group">
                <label for="garageQuantity"># Garages</label>
                <input type="number" class="form-control" id="garageQuantity" name="garageQuantity" value="" placeholder="# Garages">
            </div>
            <div class="form-group">
                <label for="surface">Superficie</label>
                <input type="text" class="form-control" id="surface" name="surface" value="" placeholder="Superficie del inmueble" required>
            </div>
            <div class="form-group">
                <input type="checkbox" id="isFurnished" name="isFurnished" value="isFurnished">
                <label for="isFurnished">Amueblado</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>